




{%- assign cart_type = '' -%}
{%- if cart.items[0].product.tags contains 'Group Buy' -%}
  {%- assign cart_type = 'Group Buy' -%}
{%- else %}
  {%- assign cart_type = 'Shop Item' -%}
{%- endif -%}


{% if product.tags contains 'Group Buy' and cart_type == 'Shop Item' %}
  <p style="color:red">This is a regular Shop item which can not be ordered together with Group Buys. You already have some Group Buys in <a href="/cart">your cart</a>.</p>
  <style>.product-single__add-to-cart {display: none;}</style>
{% elsif product.tags contains 'Group Buy' and cart_type == 'Shop Item' %}
  <p style="color:red">This is a Group Buy which can not be ordered together with regular Shop items. You already have some regular Shop items in <a href="/cart">your cart</a>.</p>
  <style>.product-single__add-to-cart {display: none;}</style>
{% endif %}