<style>
.saleslogo {
height: 20px;
}
.petslogo {
height: 20px;
}
.cheaplogo {
height: 30px;
}




.petsarea, .salesarea {
border-left: 1px solid #00000040
}
</style>
{% comment %}
<div class="container-fluid feedback">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 align-self-center">
               <div class="feedbackbar-text text-center">
                  Shipping Delays: <br>USPS IS EXPERIENCING UNPRECEDENTED VOLUME INCREASES AND LIMITED EMPLOYEE AVAILABILITY DUE TO THE IMPACTS OF COVID-19. 
            </div>
       
            </div>
        </div>
    </div>
</div>

<div class="container-fluid feedback text-center">
    <div class="container">
        <div class="row h-100">
          <!--   <div class="col-6 my-auto text-right">
              <span class="text pl-1 d-inline">
                  Looking for more  than Undies?
              </span>
          </div> -->
            <div class="col-auto my-auto text-left cheaparea">
               <img src="https://cdn.shopify.com/s/files/1/0104/3942/t/224/assets/websitelogo.png?43966" class="img-fluid cheaplogo">
               </div>
               
               
               <div class="col-auto my-auto text-left salesarea">
               <img src="https://cdn.shopify.com/s/files/1/2301/4555/files/sale122_977dd5ba-b0a1-4df4-a8ef-e32cb2564175.png?v=1569944608" class="img-fluid saleslogo">
               </div>
               
                 
                     <div class="col-auto my-auto text-left petsarea">
               <img src="https://cdn.shopify.com/s/files/1/0254/4563/0055/files/Untitled-1.png?v=1565567559" class="img-fluid petslogo">
               </div>
               
               
        </div>
        
    </div>
</div>
<script>
$(".salesarea").on('click', function(){
        window.open('https://salesrack.com', '_blank');    
});
$(".petsarea").on('click', function(){
        window.open('https://petdeals.com', '_blank');    
});
$(".cheaparea").on('click', function(){
        window.open('https://cheapundies.com', '_blank');    
});
</script>





 <div class="container-fluid feedback text-center">
    <div class="container">
        <div class="row h-100">
            <div class="col-12 my-auto feedbackbar-text">
                <span class="text pl-1 d-inline">
                    We
                    <span class="icon-heart"></span>
                    to hear from our customers!
                </span><br>
                Click Here & tell us how we are doing
            </div>
        </div>
    </div>
</div>

<script>
    $(".feedback")
        .click(function () {
            $('#feedbackModal').modal('show')
        });
</script>
{% include 'feedback' %}

{% endcomment %}
<div class="container-fluid bg-success stp">
    <div class="container pt-2">
        <div class="row align-items-center">
            <div class="col-12 align-self-center">
               <div class="feedbackbar-text text-center h4">
                  Last Day to Get Your St. Patrick’s Day t-shirts by the 17th : Click Here
            </div>
       
            </div>
        </div>
    </div>
</div>
<script>

$(".stp").on('click', function(){
        window.open('https://www.cheapundies.com/collections/feeling-lucky', '_blank');    
});
</script>