<div class="newsletter-wrapper mt-3 mt-sm-0">
    <div class="row h-100">
        <div class="col-md-6 col-sm-12 my-auto teaser lazyload" data-expand="-100">
            <div class="subscription-block-lt">
                <h2>Never Miss a Deal!</h2>
                Subscribe to get notified of new deals first.
            </div>
        </div>
        <div class="col-md-6 col-sm-12 h-100">
            <div class="subscription-block-rt teaser lazyload" data-expand="-100">
                <form action="#" class="subscription-form my-auto" data-id="1">
                    <fieldset>
                        <div class="form-group text-center my-auto">
                            <input class="btn btn-danger my-auto" type="submit" value="SIGN UP"/>
                            <div class="field-wrap my-auto">
                                <input class="form-control email my-auto" id="email-add" placeholder="E-Mail Address" type="email"/>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>