<div class="detail-title m-b-20" itemprop="name">Shipping:</div>
<div class="detail-description rte" itemprop="description">
    <ul>
        <li>
            <strong>Ships in 1 - 3 days</strong>
        </li>
        <li>
            Shipping starts at 3.99 for U.S. Residents
        </li>
        <li>
            Faster shipping options avaiable at checkout!
        </li>
    </ul>
</div>