<style>
  
  a[data-zoom-id] img, .mz-thumb img {
  	box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.15);
  }
  
  .product-thumbs > a {
  	margin-top: 20px !important;
  }
  
  button#AddToCart {
    margin-top: 50px;
  }
   
  
  .product-size, .product-color {
    clear: both;
  }
  
  .product-color label, .product-size label {
    border: 1px solid silver;
	margin: 5px;
    cursor: pointer;
    opacity: 1;
  }
  
  .product-color label {
    padding: 3px;
  }
  
  .product-color label img {
  	width: 30px;
    height: 30px;
  }
    
  .product-size label {
     color: black;
     height: 35px;
     min-width: 60px;
     padding-top: 4px;
     padding-left: 3px;
     padding-right: 3px;
  }
  
  .product-color {
     margin-top: 30px;
  }
  
  .product-size label[selected="selected"], .product-color label[selected="selected"] {
     border: 1px solid #e27075;
     box-shadow: 5px 5px 5px #948e8ea6;
     color: #a72026;
  }
  
  .disabled, .empty {
     opacity: .4 !important;
  }
  
  .empty {
  	cursor: not-allowed !important;
  }
  
</style>


<div class="product-size"></div>
<div class="product-color"></div>

<input type="hidden" name="id">

{% assign inventory = '' %}
{% for variant in product.variants %}

	{% assign inventory = inventory 
		| append: '"'
		| append: variant.id
		| append: '"'
		| append: ':'
		| append: ''
		| append: '"'
		| append: variant.inventory_quantity
		| append: '"'
		| append: ','
	%}

{% endfor %}


<script>
  var pJson = '{{ product.variants | json }}';
  var product_variants = JSON.parse(pJson);
  var product_inventory = JSON.parse('{' + '{{ inventory }}'.slice(0, -1) + '}');

</script>

{{ 'product_options.js' | asset_url | script_tag }}