        {% for product in collections.cheapundies-exclusives.products limit: 4%}
        {% if product.available == true  %}
        {% assign product_count = product_count | plus : 1 %}
        {% include 'product-list' with '4' %}
        {% endif %}
        {% endfor %}


<!-- Solution brought to you by Caroline Schnapp -->
<!-- See this: https://docs.shopify.com/support/your-store/products/can-i-recommend-related-products#finding-a-relevant-collecitons -->
{%- comment -%}
Number of related items per row,
and number of rows.
{%- endcomment -%}
{%- if  collection.metafields.dailydeal.dailydeal contains "deal" or collection.metafields.dailydeal.dailydeal contains "primary" -%}
{%- assign number_of_related_products_per_row = 20 -%}
{%- else -%}
{%- assign number_of_related_products_per_row = 400 -%}
{%- endif -%}
{%- comment -%}
Set either or both to true, if you want
to limit yourself to items with same vendor, and/or type.
{%- endcomment -%}
{%- assign same_vendor = false -%}
{%- assign same_type = false -%}
{%- comment -%}
Collections to ignore.
Never pick related items from those.
{%- endcomment -%}
{%- assign exclusions = 'frontpage,all' | split: ',' -%}
{%- comment -%}
Looking for a relevant collection.
{%- endcomment -%}


      
{%- assign collection = product.metafields.collection.related -%}



{%- assign found_a_collection = false -%}
{%- if collection and collection.all_products_count > 1 -%}
{%- unless exclusions contains collection.handle -%}
{%- assign found_a_collection = true -%}
{%- endunless -%}
{%- endif -%}
{%- unless found_a_collection -%}
{%- for c in product.collections -%}
{%- unless exclusions contains c.handle or c.all_products_count < 2 -%}
   {%- assign found_a_collection = true -%}
   {%- assign collection = c -%}
   {%- break -%}
   {%- endunless -%}
   {%- endfor -%}
   {%- endunless -%}
   {%- comment -%}
   If we have a relevant collection.
   {%- endcomment -%}
   {%- if found_a_collection -%}
   {%- assign counter = 0 -%}
   {%- assign break_at = number_of_related_products_per_row -%}
   {%- assign current_product = product -%}
   {%- capture related_items -%}
   {%- for product in collection.products -%}
   {%- unless product.handle == current_product.handle -%}
   {%- unless same_vendor and current_product.vendor != product.vendor -%}
   {%- unless same_type and current_product.type != product.type -%}
   {%- include 'product-list' with '4' -%}
   {%- assign counter = counter | plus: 1 -%}
   {%- if counter == break_at -%}
   {%- break -%}
   {%- endif -%}
   {%- endunless -%}
   {%- endunless -%}
   {%- endunless -%}
   {%- endfor -%}
   {%- endcapture -%}
   {%- assign related_items = related_items | trim -%}
   
  {%- unless related_items == blank -%}




 <div class="row mt-5 gutter-10">
   <div class="col-12">
    <div class="dealheader text-center text-uppercase mb-5">
     {%- if  collection.metafields.dailydeal.dailydeal contains "deal" or collection.metafields.dailydeal.dailydeal contains "primary" -%} 
            <h2 class="mb-0">Shop More From </h2> 
             <p>{{ collection.title }}</p>
          {%- else -%} 
             <h2 class="mb-0">You May Also Like</h2>
           {%- endif -%}
        
        </div>
        
  
</div>

{{ related_items }}

</div>

{%- endunless -%}
{%- endif -%}
