{% comment %}
    Number of related items per row,
  and number of rows.
{% endcomment %}{% assign number_of_related_products_per_row = 20 %}
{% assign number_of_rows = 4 %}
{% comment %}
    Heading.
  Leave blank if you don't need one.
{% endcomment %}{% assign heading = 'Other fine products' %}
{% comment %}
    Set either or both to true, if you want
  to limit yourself to items with same vendor, and/or type.
{% endcomment %}
{% assign same_vendor = true %}{% assign same_type = false %}
{% comment %}
    Collections to ignore.
  Never pick related items from those.
{% endcomment %}
{% assign exclusions = 'frontpage,all' | split : ',' %}
{% comment %}
    Looking for a relevant collection.
{% endcomment %}
{% if product.metafields.collection.related %}{% assign collection = collections[product.metafields.collection.related] %}
{% endif %}
{% assign found_a_collection = false %}
{% if collection and collection.all_products_count > 1 %}
    {% unless exclusions contains collection.handle %}{% assign found_a_collection = true %}
    {% endunless %}
{% endif %}
{% unless found_a_collection %}
    {% for c in product.collections %}
        {% unless exclusions contains c.handle or c.all_products_count < 2 %}{% assign found_a_collection = true %}{% assign collection = c %}{% break %}
        {% endunless %}
    {% endfor %}
{% endunless %}
{% comment %}
    If we have a relevant collection.
{% endcomment %}
{% if found_a_collection %}{% assign counter = 0 %}{% assign current_product = product %}
    {% capture related_items %}
        {% for product in collection.products %}
            {% unless product.handle == current_product.handle %}
                {% unless same_vendor and current_product.vendor != product.vendor %}
                    {% unless same_type and current_product.type != product.type %}{%- include 'product-list' with '4' -%}{%- assign counter = counter | plus: 1 -%}
                        {%- if counter == break_at -%}{%- break -%}
                        {%- endif -%}
                    {% endunless %}
                {% endunless %}
            {% endunless %}
        {% endfor %}
    {% endcapture %}{% assign related_items = related_items | trim %}
    {% unless related_items == blank %}
        <div class="row gutter-10">
            <div class="col-12">
               <div class="fancy-title mt-2 mb-4">
            <span>Shop More</span>
    
        </div>
            </div>
            {{ related_items }}
        </div>
    {% endunless %}
{% endif %}