<div class="product_adv">
  <p class="payment_block_title">Guaranteed safe checkout</p>

  <div class="adv_item">

    <img src="https://cdn.shopify.com/s/files/1/0070/7615/1347/files/1_small.png?v=1552642640" alt="Visa">


    <a href="https://anvanto-blackery-default.myshopify.com/products/a-line-layered-tank-dress?fts=0#"></a>

  </div>

  <div class="adv_item">

    <img src="https://cdn.shopify.com/s/files/1/0070/7615/1347/files/2_small.png?v=1552642675" alt="MasterCard">


    <a href="https://anvanto-blackery-default.myshopify.com/products/a-line-layered-tank-dress?fts=0#"></a>

  </div>

  <div class="adv_item">

    <img src="https://cdn.shopify.com/s/files/1/0070/7615/1347/files/3_small.png?v=1552642686" alt="Shopify secure">


    <a href="https://anvanto-blackery-default.myshopify.com/pages/legal-notice"></a>

  </div>

  <div class="adv_item">

    <img src="https://cdn.shopify.com/s/files/1/0070/7615/1347/files/4_small.png?v=1552642695" alt="Amarican Express">


    <a href="https://anvanto-blackery-default.myshopify.com/pages/terms-and-conditions-of-use" class=""></a>

  </div>

  <div class="adv_item">

    <img src="https://cdn.shopify.com/s/files/1/0070/7615/1347/files/5_small.png?v=1552642703" alt="PayPal">


  </div>

  <div class="adv_item">

    <img src="https://cdn.shopify.com/s/files/1/0070/7615/1347/files/6_small.png?v=1552642710" alt="McAfee Secure">


  </div>

  <div class="adv_item">

    <img src="https://cdn.shopify.com/s/files/1/0070/7615/1347/files/7_small.png?v=1552642718" alt="Stripe">


  </div>

  <div class="adv_item">

    <img src="https://cdn.shopify.com/s/files/1/0070/7615/1347/files/8_small.png?v=1552642726" alt="Discover network" class="">


  </div>

</div>

<style>
div.product_adv {
  align-items: center;
  border: 1px solid rgba(133, 133, 133, 0.2);
  box-sizing: border-box;
  color: #070707;
  display: flex;
  font-family: Archivo, Arial, sans-serif;
  font-size: 14px;
  justify-content: space-between;
  line-height: 22.4px;
  padding: 24px 24px 6px;
  position: relative;
}

@media (max-width: 1200px) {
  div.product_adv {
    flex-wrap: wrap;
  }
}

p.payment_block_title {
  background-color: #FFFFFF;
  box-sizing: border-box;
  color: #707070;
  font-family: Archivo, Arial, sans-serif;
  font-size: 14px;
  left: 18px;
  line-height: 22.4px;
  margin: 0 0 15px;
  padding: 0 22px 0 10px;
  position: absolute;
  top: -12px;
  transform: none;
  white-space: pre;
}

div.adv_item {
  box-sizing: border-box;
  color: #070707;
  font-family: Archivo, Arial, sans-serif;
  font-size: 14px;
  line-height: 22.4px;
  margin-bottom: 12px;
  padding: 0 4px;
  position: relative;
  text-align: center;
}

@media (max-width: 991px) and (min-width: 769px) {
  div.adv_item {
    width: 33%;
  }
}

@media (max-width: 480px) {
  div.adv_item {
    margin-left: 0;
    margin-right: 0;
    margin-top: 8px;
    width: 50%;
  }
}

div.product_adv div.adv_item img {
  border-style: none;
  border-width: 0;
  box-sizing: border-box;
  color: #070707;
  font-family: Archivo, Arial, sans-serif;
  font-size: 14px;
  line-height: 22.4px;
  max-width: 100%;
  text-align: center;
}

div.product_adv div.adv_item a {
  background-color: transparent;
  bottom: 0;
  box-sizing: border-box;
  color: #707070;
  cursor: pointer;
  font-family: Archivo, Arial, sans-serif;
  font-size: 14px;
  left: 0;
  line-height: 22.4px;
  position: absolute;
  right: 0;
  text-align: center;
  text-decoration: none;
  top: 0;
}

div.product_adv div.adv_item a:hover {
  color: #272727;
}

div.product_adv div.adv_item a:focus {
  color: #272727;
}
</style>