<div class="row mt-2">
    <div class="col-12">
        <div class="fancy-title">
<h2 class="">Last Chance</h2>
</div>
    </div>
</div>
<div class="row gutter-10 sorter collection mt-2">

    {% for product in collections.last-chance.products limit : 4 %}
        {%- include 'product-list' with '4' -%}
    {% endfor %}
 
</div>
