<div class="row">
    <div class="col-12 mt-2 mb-3 text-uppercase">
    <div class="fancy-title title-dotted-border topmargin-sm mb-4 title-center">
<h4 class="">Limited Box Sets</h4>
</div>
</div>
</div>
<div class="row gutter-10 sorter collection mt-2">
    {% for product in collections.limited-box-sets.products limit : 4 %}
        {%- include 'product-list' with '4' -%}
    {% endfor %}
</div>