<div class="row mt-5">
    <div class="col-12">
        <div class="dealheader">
            <h2>Last Chance</h2>
            <p>Almost Gone

            </p>
        </div>

    </div>
    </div>
    
    
    
      
     <div class="gutter-10 row ">
     
     
       
       
       
       
          <div class="col-12 col-md-4 mb-3">
        {%- for collection in collections -%}
        {% if collection.metafields.dailydeal.dailydeal == "deal7_m" %}
        {% include 'mens-dealbox-notime' %}
        {% endif %}
        {%- endfor -%}
    </div>

    <div class="col-12 col-md-4 mb-3">
        {% for collection in collections %}
        {% if collection.metafields.dailydeal.dailydeal == "deal7_f" %}
         {% include 'womens-dealbox-notime' %}
        {% endif %}
        {%- endfor -%}
    </div>
  
       
       
       
       
         <div class="col-12 col-md-4 mb-3">
        {%- for collection in collections -%}
        {% if collection.metafields.dailydeal.dailydeal == "deal8_m" %}
        {% include 'mens-dealbox-notime' %}
        {% endif %}
        {%- endfor -%}
    </div>

    <div class="col-12 col-md-4 mb-3">
        {% for collection in collections %}
        {% if collection.metafields.dailydeal.dailydeal == "deal8_f" %}
         {% include 'womens-dealbox-notime' %}
        {% endif %}
        {%- endfor -%}
    </div>
  
       
         <div class="col-12 col-md-4 mb-3">
        {%- for collection in collections -%}
        {% if collection.metafields.dailydeal.dailydeal == "deal9_m" %}
        {% include 'mens-dealbox-notime' %}
        {% endif %}
        {%- endfor -%}
    </div>

    <div class="col-12 col-md-4 mb-3">
        {% for collection in collections %}
        {% if collection.metafields.dailydeal.dailydeal == "deal9_f" %}
         {% include 'womens-dealbox-notime' %}
        {% endif %}
        {%- endfor -%}
    </div>
  
       
       
         <div class="col-12 col-md-4 mb-3">
        {%- for collection in collections -%}
        {% if collection.metafields.dailydeal.dailydeal == "deal10_m" %}
        {% include 'mens-dealbox-notime' %}
        {% endif %}
        {%- endfor -%}
    </div>

    <div class="col-12 col-md-4 mb-3">
        {% for collection in collections %}
        {% if collection.metafields.dailydeal.dailydeal == "deal10_f" %}
         {% include 'womens-dealbox-notime' %}
        {% endif %}
        {%- endfor -%}
    </div>
  
       
       
       
       
         <div class="col-12 col-md-4 mb-3">
        {%- for collection in collections -%}
        {% if collection.metafields.dailydeal.dailydeal == "deal11_m" %}
        {% include 'mens-dealbox-notime' %}
        {% endif %}
        {%- endfor -%}
    </div>

    <div class="col-12 col-md-4 mb-3">
        {% for collection in collections %}
        {% if collection.metafields.dailydeal.dailydeal == "deal11_f" %}
         {% include 'womens-dealbox-notime' %}
        {% endif %}
        {%- endfor -%}
    </div>
  
     
    
      <div class="col-12 col-md-4 mb-3">
        {%- for collection in collections -%}
        {% if collection.metafields.dailydeal.dailydeal == "deal12_m" %}
        {% include 'mens-dealbox-notime' %}
        {% endif %}
        {%- endfor -%}
    </div>

    <div class="col-12 col-md-4 mb-3">
        {% for collection in collections %}
        {% if collection.metafields.dailydeal.dailydeal == "deal12_f" %}
         {% include 'womens-dealbox-notime' %}
        {% endif %}
        {%- endfor -%}
    </div>
  
    
       
       
         <div class="col-12 col-md-4 mb-3">
        {%- for collection in collections -%}
        {% if collection.metafields.dailydeal.dailydeal == "deal13_m" %}
        {% include 'mens-dealbox-notime' %}
        {% endif %}
        {%- endfor -%}
    </div>

    <div class="col-12 col-md-4 mb-3">
        {% for collection in collections %}
        {% if collection.metafields.dailydeal.dailydeal == "deal13_f" %}
         {% include 'womens-dealbox-notime' %}
        {% endif %}
        {%- endfor -%}
    </div>
  
         <div class="col-12 col-md-4 mb-3">
        {%- for collection in collections -%}
        {% if collection.metafields.dailydeal.dailydeal == "deal14_m" %}
        {% include 'mens-dealbox-notime' %}
        {% endif %}
        {%- endfor -%}
    </div>

    <div class="col-12 col-md-4 mb-3">
        {% for collection in collections %}
        {% if collection.metafields.dailydeal.dailydeal == "deal14_f" %}
         {% include 'womens-dealbox-notime' %}
        {% endif %}
        {%- endfor -%}
    </div>
  
         <div class="col-12 col-md-4 mb-3">
        {%- for collection in collections -%}
        {% if collection.metafields.dailydeal.dailydeal == "deal15_m" %}
        {% include 'mens-dealbox-notime' %}
        {% endif %}
        {%- endfor -%}
    </div>

    <div class="col-12 col-md-4 mb-3">
        {% for collection in collections %}
        {% if collection.metafields.dailydeal.dailydeal == "deal15_f" %}
         {% include 'womens-dealbox-notime' %}
        {% endif %}
        {%- endfor -%}
    </div>
  
         <div class="col-12 col-md-4 mb-3">
        {%- for collection in collections -%}
        {% if collection.metafields.dailydeal.dailydeal == "deal16_m" %}
        {% include 'mens-dealbox-notime' %}
        {% endif %}
        {%- endfor -%}
    </div>

    <div class="col-12 col-md-4 mb-3">
        {% for collection in collections %}
        {% if collection.metafields.dailydeal.dailydeal == "deal16_f" %}
         {% include 'womens-dealbox-notime' %}
        {% endif %}
        {%- endfor -%}
    </div>
  
         <div class="col-12 col-md-4 mb-3">
        {%- for collection in collections -%}
        {% if collection.metafields.dailydeal.dailydeal == "deal17_m" %}
        {% include 'mens-dealbox-notime' %}
        {% endif %}
        {%- endfor -%}
    </div>

    <div class="col-12 col-md-4 mb-3">
        {% for collection in collections %}
        {% if collection.metafields.dailydeal.dailydeal == "deal17_f" %}
         {% include 'womens-dealbox-notime' %}
        {% endif %}
        {%- endfor -%}
    </div>
  
         <div class="col-12 col-md-4 mb-3">
        {%- for collection in collections -%}
        {% if collection.metafields.dailydeal.dailydeal == "deal18_m" %}
        {% include 'mens-dealbox-notime' %}
        {% endif %}
        {%- endfor -%}
    </div>

    <div class="col-12 col-md-4 mb-3">
        {% for collection in collections %}
        {% if collection.metafields.dailydeal.dailydeal == "deal18_f" %}
         {% include 'womens-dealbox-notime' %}
        {% endif %}
        {%- endfor -%}
    </div>
  
         <div class="col-12 col-md-4 mb-3">
        {%- for collection in collections -%}
        {% if collection.metafields.dailydeal.dailydeal == "deal19_m" %}
        {% include 'mens-dealbox-notime' %}
        {% endif %}
        {%- endfor -%}
    </div>

    <div class="col-12 col-md-4 mb-3">
        {% for collection in collections %}
        {% if collection.metafields.dailydeal.dailydeal == "deal19_f" %}
         {% include 'womens-dealbox-notime' %}
        {% endif %}
        {%- endfor -%}
    </div>
  
         <div class="col-12 col-md-4 mb-3">
        {%- for collection in collections -%}
        {% if collection.metafields.dailydeal.dailydeal == "deal20_m" %}
        {% include 'mens-dealbox-notime' %}
        {% endif %}
        {%- endfor -%}
    </div>

    <div class="col-12 col-md-4 mb-3">
        {% for collection in collections %}
        {% if collection.metafields.dailydeal.dailydeal == "deal20_f" %}
         {% include 'womens-dealbox-notime' %}
        {% endif %}
        {%- endfor -%}
    </div>
  
       
       
       
       
       
       
       
       
       
       
    
    </div>