
<div class="row mt-3 teaser lazyload">
    <div class="col-12">
        <div class="fancy-title mt-4 mb-4">
        <span>     <i class="lni lni-clock-dollar"></i> Deals Ending Soon</span>
        </div>
    </div>
</div>
<div class="row mt-4 gutter-10">
    <div class="col-12 col-md-6 mb-3">
        {% assign collection = collections[shop.metafields.dailydeal.deal1_m] %}
        {% assign deal = collection.metafields.dailydeal.dailydeal %}
        {%- include 'dealbox' -%}</div>
    <div class="col-12 col-md-6 mb-3">
        {% assign collection = collections[shop.metafields.dailydeal.deal1_f] %}
        {% assign deal = collection.metafields.dailydeal.dailydeal %}
        {%- include 'dealbox' -%}</div>
    <div class="col-12 col-md-6 mb-3">
        {% assign collection = collections[shop.metafields.dailydeal.deal2_m] %}
        {% assign deal = collection.metafields.dailydeal.dailydeal %}
        {%- include 'dealbox' -%}</div>
    <div class="col-12 col-md-6 mb-3">
        {% assign collection = collections[shop.metafields.dailydeal.deal2_f] %}
        {% assign deal = collection.metafields.dailydeal.dailydeal %}
        {%- include 'dealbox' -%}</div>
    <div class="col-12 col-md-6 mb-3">
        {% assign collection = collections[shop.metafields.dailydeal.deal3_m] %}
        {% assign deal = collection.metafields.dailydeal.dailydeal %}
        {%- include 'dealbox' -%}</div>
    <div class="col-12 col-md-6 mb-3">
        {% assign collection = collections[shop.metafields.dailydeal.deal3_f] %}
        {% assign deal = collection.metafields.dailydeal.dailydeal %}
        {%- include 'dealbox' -%}</div>
    <div class="col-12 col-md-6 mb-3">
        {% assign collection = collections[shop.metafields.dailydeal.deal4_m] %}
        {% assign deal = collection.metafields.dailydeal.dailydeal %}
        {%- include 'dealbox' -%}</div>
    <div class="col-12 col-md-6 mb-3">
        {% assign collection = collections[shop.metafields.dailydeal.deal4_f] %}
        {% assign deal = collection.metafields.dailydeal.dailydeal %}
        {%- include 'dealbox' -%}</div>
    <div class="col-12 col-md-6 mb-3">
        {% assign collection = collections[shop.metafields.dailydeal.deal5_m] %}
        {% assign deal = collection.metafields.dailydeal.dailydeal %}
        {%- include 'dealbox' -%}</div>
    <div class="col-12 col-md-6 mb-3">
        {% assign collection = collections[shop.metafields.dailydeal.deal5_f] %}
        {% assign deal = collection.metafields.dailydeal.dailydeal %}
        {%- include 'dealbox' -%}</div>
    <div class="col-12 col-md-6 mb-3">
        {% assign collection = collections[shop.metafields.dailydeal.deal6_m] %}
        {% assign deal = collection.metafields.dailydeal.dailydeal %}
        {%- include 'dealbox' -%}</div>
    <div class="col-12 col-md-6 mb-3">
        {% assign collection = collections[shop.metafields.dailydeal.deal6_f] %}
        {% assign deal = collection.metafields.dailydeal.dailydeal %}
        {%- include 'dealbox' -%}</div>
</div>