<div class="newsletter-wrapper teaser lazyload" data-expand="-100">
    <div class="row gutter-20">
        <div class="col-md-6 col-sm-12 my-auto">
            <div class="subscription-block-lt  mb-3 mb-md-0">
                <h2>Never Miss a Deal!</h2>
                <p>Subscribe to get notified of new deals first.</p>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 h-100">
            <div class="subscription-block-rt my-auto">
                <form action="#" class="subscription-form my-auto needs-validation"  data-form-title="Cheapundies" data-list-id="XtM6lh222GmG9rWJXur6OQ" novalidate>
                    <fieldset>
                        <div class="form-group">
                            <input class="btn btn-danger" type="submit" value="SIGN UP">
                            <div class="field-wrap">
                                <input class="form-control email my-auto" name="email" id="email" placeholder="E-Mail Address" type="email" required>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>






<!-- <form class="needs-validation" data-form-title="Cheapundies" data-list-id="XtM6lh222GmG9rWJXur6OQ" novalidate>
                <div class="form-group">
                    <input class="btn btn-danger" type="submit" value="SIGN UP">
                    <div class="field-wrap">
                        <input class="form-control" placeholder="E-Mail Address" type="email" required>
                        <div class="invalid-feedback"></div>
                        <div class="valid-feedback"></div>
                    </div>

                </div>
            </form> -->