<!-- <div class="row">
    <div class="col-12 mt-5 mb-3">
        <div class="fancy-title">
            <span>Todays Deals</span>
        </div>
    </div>
</div> -->
<div class="row mt-4 gutter-10">
   <div class="col-12 col-md-6 mb-3 teaser" data-expand="-100">
         <a href="https://www.cheapundies.com/products/bad-boys-exclusive-20oz-skinny-tumbler">
            <img class="img-fluid lazyload" src="https://cdn.shopify.com/s/files/1/0104/3942/files/cupssm.png?v=1632349125">
        </a>
        

    </div>
   <div class="col-12 col-md-6 mb-3 teaser" data-expand="-200">
            <a href="https://www.cheapundies.com/products/lowtee-freak-in-the-sheets-graphic-tee">
            <img class="img-fluid lazyload" src="https://cdn.shopify.com/s/files/1/0104/3942/files/freakinsheetssm.png?v=1632349125">
        </a>
    </div>
</div>