/* Base shared styles and tokens */
:root {
  --bodyfont: 'Roboto', sans-serif;
  --headerfont: 'Roboto', sans-serif;
  --headerfontalt: 'Roboto', sans-serif;
  --headerfontalt_1: 'Roboto', sans-serif;

  --regular: 400;
  --medium: 500;
  --heavy: 700;

  --bodyfontsize: 1.4rem;

  --bodytext: #222;
  --headertext: #000;

  --red: #d3232b;
  --white: #fff;
  --dark: #333;
  --black: #000;
  --greybackground: #f7f7f7;
  --altback: #f6f6f6;

  --accordian: #f8f9fa;
  --lgrey: #fcfcfc;
  --ltgreyFont: #e5e5e4;
  --redFont: #d3232b;
  --greyFont: #a4a4a4;
  --mensColor: #08c;
  --womensColor: #e404a5;
  --whiteFont: #ffffff;
  --blackFont: #000000;
  --twoDark: #333;
  --lighterGrey: #f9f9f9;
  --grey2Font: #464646;
  --darkgreyFont: #ccc;
  --darkcolor: #444444;
  --greencolor: #589c28;
  --greyer: #333;
  --greypanel: #eeeeef;
  --devil: #666;
  --blue: #007ace;
  --greyline: #e5e5e4;
  --greybk: #f7f7f7;
  --primary: #155bd5;
  --primary-dark: #1c3ab6;
  --primary-light: #e2f1ff;
  --accent: #00d4d7;
  --accent-dark: #00bac1;
  --accent-light: #dff9f8;
  --success: #13d527;
  --success-dark: #00ae11;
  --success-light: #eafbe7;
  --secondary: #8f15d5;
  --secondary-dark: #6013c7;
  --secondary-light: #f4e5fa;
  --info: #15b2d5;
  --info-dark: #0f8ca8;
  --info-light: #e0f5fa;
  --caution: #dbbb25;
  --caution-dark: #d58f15;
  --caution-light: #fbf9e4;
  --error: #e6185e;
  --error-dark: #bf1257;
  --error-light: #fce4eb;
  --black: #1d1d1d;
  --dark-1: #2d2d2d;
  --dark-2: #4d4d4d;
  --dark-3: #6d6d6d;
  --gray-1: #8d8d8d;
  --gray-2: #adadad;
  --gray-3: #cdcdcd;
  --gray-4: #e0e0e0;
  --light-1: #efefef;
  --light-2: #f5f5f5;
  --light-3: #fafafa;
  --white: #ffffff;
  --gradient-1: linear-gradient(180deg, #155bd5 0%, #1c3ab6 100%);
  --gradient-2: linear-gradient(180deg, #155bd5 13.02%, #00d4d7 85.42%);
  --gradient-3: linear-gradient(180deg, #155bd5 0%, #8f15d5 100%);
  --gradient-4: linear-gradient(180deg, #155bd5 0%, #13d527 100%);
  --gradient-5: linear-gradient(180deg, #155bd5 0%, #15bbd5 100%);
  --gradient-6: linear-gradient(180deg, #155bd5 0%, #dbbb25 100%);
  --gradient-7: linear-gradient(180deg, #155bd5 0%, #e6185e 100%);
  --gradient-8: linear-gradient(180deg, #1c3ab6 0%, #00bac1 100%);
  --gradient-9: linear-gradient(180deg, #00d4d7 13.02%, #155bd5 85.42%);
  --shadow-1: 0px 0px 1px rgba(40, 41, 61, 0.08),
    0px 0.5px 2px rgba(96, 97, 112, 0.16);
  --shadow-2: 0px 0px 1px rgba(40, 41, 61, 0.04),
    0px 2px 4px rgba(96, 97, 112, 0.16);
  --shadow-3: 0px 0px 2px rgba(40, 41, 61, 0.04),
    0px 4px 8px rgba(96, 97, 112, 0.16);
  --shadow-4: 0px 2px 4px rgba(40, 41, 61, 0.04),
    0px 8px 16px rgba(96, 97, 112, 0.16);
  --shadow-5: 0px 2px 8px rgba(40, 41, 61, 0.04),
    0px 16px 24px rgba(96, 97, 112, 0.16);
  --shadow-6: 0px 2px 8px rgba(40, 41, 61, 0.08),
    0px 20px 32px rgba(96, 97, 112, 0.24);
}

.shopify-payment-button__button {
  text-transform: uppercase;
}


