/* Collection page styles. Loaded only on collection templates. */

.addthis_inline_share_toolbox_hd22 {
  height: 25px;
}

.collection {
  /* collection layout container */
}

.collection-inner {
  /* adjust collection grid spacing as needed */
}

.sorter.collection .overlay {
  display: none;
}

.collection h1 {
  font-size: 1.6rem;
  color: var(--black);
  font-family: var(--headerfont);
  margin: 0 0 3px;
}

.collection .countdown span {
  color: var(--red);
}

.side_menu_title {
  padding: 10px;
  text-transform: uppercase;
  background: #eeeef0;
  border: 1px solid #e5e5e5;
  font-weight: var(--medium);
  font-family: var(--headerfontalt);
}

.collection-desc-height {
  min-height: 265.66px;
}

.collection-deal {
  position: relative;
  overflow: hidden;
}

.collection-hero__image {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 211px;
  opacity: 1;
}

.collection-deal__image {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 319px;
  opacity: 1;
}

@media (max-width: 575px) {
  .collection-deal {
    margin-bottom: 10px;
  }
  .collection-hero__image {
    height: 230px;
  }
  .collection-deal__image {
    height: 229px;
  }
}

.custom-control-label {
  font-size: 1.4rem;
  padding-left: 5px;
  cursor: pointer;
  line-height: 2.5rem;
  text-transform: uppercase;
}

.custom-control-label::after,
.custom-control-label::before {
  width: 2rem;
  height: 2rem;
}

.custom-control-input:checked ~ .custom-control-label::before {
  width: 2rem;
  height: 2rem;
  border-color: var(--red);
  background-color: var(--red);
}

.drop-panel {
  background: #f7f7f7;
}

.controls .btn {
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 600;
}

.filter-menu {
  padding-left: 5px;
  color: var(--black);
  padding-top: 10px;
  padding-bottom: 5px;
  letter-spacing: -0.5px;
  border: 1px solid #e5e5e4;
}

.filter-menu label {
  margin-bottom: 0;
  color: #000;
  font-size: 1.4rem;
  line-height: 1.9em;
  margin-left: 5px;
  text-transform: uppercase;
}

.filter-menu .form-check-input {
  width: 1.4em;
  height: 1.4em;
}

.filter-menu .form-check-input:checked[type='checkbox'] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 40 40'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}

.side_menu_title .icon-chevron-down {
  font-size: 2rem;
  margin-left: 50%;
  color: var(--dark);
  line-height: 0rem;
  vertical-align: middle;
}

.filter-menu .list-item {
  list-style: none;
}

.ratio-container {
  position: relative;
}

.ratio-container:after {
  content: '';
  display: block;
  height: 0;
  width: 100%;
  padding-bottom: 50%;
}

.ratio-container > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.collection-header {
  width: 317px;
  height: 211px;
}

.collection-deal {
  width: 478px;
  height: 319px;
}

@media (max-width: 575px) {
  .collection-header {
    width: 345px;
    height: 230px;
  }
  .collection-deal {
    width: 343px;
    height: 229px;
  }
}


