/*------------------------------------------------------------------*/
/*  Body Elements  */
/*------------------------------------------------------------------*/
  html {
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-bottom: 0px !important;
}
    body {
    background: url("body-bg-pattern.png") repeat;
    font-family: var(--bodyfont);
    font-size: var(--bodyfontsize);
/* line-height: 1.2;*/
    color: var(--dark);
      letter-spacing: -.1px;
    height: 100%;
    overscroll-behavior: contain; /* or "none" */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
    max-height: 100vh;
}
.countdown .lni {
    color: var(--red);
         font-weight: 700;
           animation: heartBeat;
  animation-duration: 2s;
   animation-iteration-count: infinite;

}
.countdown .time {
         letter-spacing: -.5px;
                font-family: var(--headerfont);

}




/*===========================
  features css 
===========================*/
.features-thirteen {
/*  padding-top: 100px;
  padding-bottom: 100px;*/
  position: relative;
  /* Section Title Four */
}

.features-thirteen .section-title-four {
  text-align: center;
  max-width: 550px;
  margin: auto;
/*  margin-bottom: 50px;*/
  position: relative;
  z-index: 5;
  margin-top: 50px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .features-thirteen .section-title-four {
    margin-bottom: 45px;
  }
}

.features-thirteen .section-title-four .headline {
    text-transform: uppercase;
    color: #333;
    display: inline-block;
    margin-bottom: 16px;
    font-size: 2.5rem;
    font-weight: 600;

           animation: bounceInDown;
  animation-duration: 2s;

}
@media (max-width: 767px) {
  .features-thirteen .section-title-four .headline {
    margin-bottom: 15px;
        font-size: 2rem;
  }
}
.features-thirteen .section-title-four h2 {
  margin-bottom: 15px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .features-thirteen .section-title-four h2 {
    font-size: 2rem;
    line-height: 2.8rem;
  }
}
@media (max-width: 767px) {
  .features-thirteen .section-title-four h2 {
    font-size: 1.5rem;
    line-height: 1.9rem;
  }
}
.features-thirteen .section-title-four h3 {
  font-size: 3.8rem;
  line-height: 3.8rem;
  font-weight: 800;
  text-transform: uppercase;
  position: absolute;
  top: -18px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  color: var(--gray-3);
  z-index: -1;
  -webkit-text-stroke-width: 1px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: var(--gray-3);
  opacity: 0.9;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .features-thirteen .section-title-four h3 {
    font-size: 3.3rem;
    line-height: 3.5rem;
    top: -18px;
  }
}
@media (max-width: 767px) {
  .features-thirteen .section-title-four h3 {
    font-size: 2.7rem;
    line-height: 3.2rem;
    top: -17px;
  }
}
.features-thirteen .section-title-four p {
  color: var(--dark);
}

.features-style-thirteen {
  text-align: center;
  background-color: #f8f9fa;
    padding: 10px 15px;
  border-radius: 5px;
  z-index: 5;
  position: relative;
  overflow: hidden;
  box-shadow: var(--shadow-2);
  border-radius: 10px;
  margin-top: 20px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .features-style-thirteen {
    padding: 50px 30px;
  }
}
.features-style-thirteen::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 4px;
  width: 0%;
  background-color: var(--red);
  transition: all 0.4s ease-in-out;
}
.features-style-thirteen:hover {
  box-shadow: var(--shadow-4);
}
.features-style-thirteen:hover::before {
  width: 100%;
}
.features-style-thirteen i {
    height: 60px;
    width: 60px;
    line-height: 60px;
    background-color: #f3f3f3;
    color: #bf1717;
    text-align: center;
    display: inline-block;
    font-size: 40px;
    border-radius: 5px;
/*    margin-bottom: 20px;*/
    transition: all 0.4s ease-in-out;
}
.features-style-thirteen h3 {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 32px;
  color: var(--black);
 margin-bottom: 0px;
}
.features-style-thirteen p {
  color: var(--dark);
  text-transform: uppercase;
}
.features-style-thirteen:hover i {
  border-radius: 50%;
  transform: rotate(360deg);
}
@media (max-width: 767px) {
.features-style-thirteen i {
    height: 40px;
    width: 40px;
    line-height: 40px;
    background-color: #f3f3f3;
    color: #bf1717;
    text-align: center;
    display: inline-block;
    font-size: 35px;
    border-radius: 5px;
    /* margin-bottom: 20px; */
    transition: all 0.4s ease-in-out;
}
.features-style-thirteen h3 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 32px;
    text-transform: uppercase;
    color: var(--black);
    /* margin-bottom: 10px; */

}
}
.redbar::before {
    position: absolute;
    content: "";
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 0;
    height: 3px;
    width: 50px;
    background-color: var(--red);
}
.lin {

    font: 1.5rem/1 LineIcons;
   
    line-height: 1.5rem;
    vertical-align: -0.2em;

}
   .fancy-title .lni {
    display: inline-block;
    font: normal normal normal 1.8em/1 'LineIcons';
    color: inherit;
    flex-shrink: 0;
    speak: none;
    text-transform: none;
    line-height: 1;
    vertical-align: -0.3em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fancy-title .lni-thunderbolt {
    color: #fed100;

}

/*------------------------------------------------------------------*/
/*  Style Elements  */
/*------------------------------------------------------------------*/
div.fancy-title {
  background-image: url(dotted.png);
  background-position: center center;
  background-repeat: repeat no-repeat;
  box-sizing: border-box;
  position: relative;
  text-align: center;
  
}
div.fancy-title span, .article div.fancy-title h1{
  background-color: var(--white);
  box-sizing: border-box; 
  color: var(--dark);
  font-size: 1.8rem;
  display: inline-block;
  margin: 0 0 0px;
  padding: 0 20px;
  font-weight: var(--medium);
  position: relative;
  text-transform: uppercase;
  font-family: var(--headerfont);
}
div.fancy-title .bi-heart-fill{
    color: var(--red);
}

.form-control {
    height: 40px;
    font-size: 1.3rem !important;
}
    .noselect {
        -webkit-touch-callout: none;
        /* iOS Safari */
        -webkit-user-select: none;
        /* Safari */
        -khtml-user-select: none;
        /* Konqueror HTML */
        -moz-user-select: none;
        /* Firefox */
        -ms-user-select: none;
        /* Internet Explorer/Edge */
        user-select: none;
        /* Non-prefixed version, currently
    supported by Chrome and Opera */
    }
.padding-0 {
    padding-right:0;
    padding-left:0;
}
.collection-desc-height {
  /* moved to assets/collection.css */
}
.page .field {
  margin: 2rem 0 0 0;
}
    .page textarea {
    min-height: 250px;
    font-size: 1.3rem !important;
}
.button-3d a, .shopify-challenge__button  a{
    text-decoration: none !important;
}

.button-3d a:hover, .shopify-challenge__button  a:hover {
    color: #222;
}

.button , .shopify-challenge__button {
    display: inline-block;
    font-family: var(--headerfont);
    font-weight: var(--medium);
    position: relative;
    cursor: pointer;
    outline: 0;
    white-space: nowrap;
    margin: 0px;
    padding: 0 22px;
    font-size: 16px;
    height: 44px;
    line-height: 44px;
    color: #fff;
    text-transform: uppercase;
    border: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
}

body:not(.device-touch) .button ,body:not(.device-touch) .shopify-challenge__button{
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.yellowline {
    display: inline; 
margin: 0;
text-align: center;
font: 500 33px/44px Medium;
background: linear-gradient(90deg,#f7d43d 0,#f7d43d);
background-position: 0 80%;
background-size: 100% 9px;
background-repeat: repeat-x;

}
.home-content h3, h4{
    font-size: 1.7rem;
       font-family:var(--headerfont);
       margin-bottom: 0px;
}


.button:hover , .shopify-challenge__button:hover{
    background-color: #444;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
}

.button i, .shopify-challenge__button  i{
    position: relative;
    top: 1px;
    line-height: 1;
    margin-right: 5px;
    width: 16px;
    text-align: center;
}

.button.button-rounded, .shopify-challenge__button  {
    border-radius: 3px;
}

.button.button-3d , .shopify-challenge__button {
    min-width: 100%;
/*    border-radius: 3px;*/
    border-bottom: 3px solid rgba(0, 0, 0, .15);
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}

.button.button-3d:hover ,.shopify-challenge__button:hover{
    background-color: var(--dark);
    opacity: .9;
}

.button-red ,.shopify-challenge__button {
    background-color: var(--dark);
}

.button-3d.button-red:hover, .shopify-challenge__button:hover {
    background-color: var(--dark);
}
.shopify-challenge__container {
    max-width: 400px;
    padding-top: 10rem;
    padding-bottom: 10rem;
}
.shopify-challenge__container .g-recaptcha {
        padding-bottom: 10rem;

    }


.navbar .megamenu {

            background: #fff;

    }
