<div class="row">
    <div class="col-12 mt-3">
        <header class="page-header mb-3">
            <h1> {{ page.title }}
                <!-- <small class="text-muted"><em>{{ page.metafields.global.description_tag }}</em></small> -->
            </h1>
        </header>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-12 col-md-6">
        <div class="card mb-3">
            <a href="/pages/learning-nursery-rhymes-in-your-sleepwear">
                <img class="card-img-top" data-src="" alt="" src="https://cheapundies-videos.s3.amazonaws.com/nursery-rymes-in-sleepwear.jpg" data-holder-rendered="true" style=" width: 100%; display: block;" width="600" height="338">
            </a>
            <div class="card-body">
                <h5 class="card-title">LEARNING NURSERY RHYMES IN YOUR SLEEPWEAR</h5>
                <p class="card-text">Nursery rhymes are fun for kids of all ages, and they can help you learn things, too. You can read, sing, or make crafts with nursery rhymes like "Little Miss Muffet," "Mary Had a Little Lamb," and "Twinkle Twinkle Little Star."</p>
                <a href="/pages/learning-nursery-rhymes-in-your-sleepwear" class="btn btn-primary btn-sm">Read More</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="card mb-3">
            <a href="/pages/historical-underwear-corsets-crinolines">
                <img class="card-img-top" data-src="" alt="" src="https://cheapundies-videos.s3.amazonaws.com/corsets-and-crinolines.jpg" data-holder-rendered="true" style=" width: 100%; display: block;" width="600" height="338">
            </a>
            <div class="card-body">
                <h5 class="card-title">HISTORICAL UNDERWEAR: CORSETS & CRINOLINES</h5>
                <p class="card-text">Corsets and crinolines were commonly worn as undergarments during multiple time periods and have been around for hundreds of years. </p>
                <a href="/pages/historical-underwear-corsets-crinolines" class="btn btn-primary btn-sm">Read More</a>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-12 col-md-6">
        <div class="card mb-3">
            <a href="/pages/underwear-layering-winter-hiking-apparel-guide">
                <img class="card-img-top" data-src="" alt="" src="https://cdn.shopify.com/s/files/1/0104/3942/files/hiking-in-underwear.jpg" data-holder-rendered="true" style=" width: 100%; display: block;" width="600" height="338">
            </a>
            <div class="card-body">
                <h5 class="card-title">Underwear & Layering: Winter Hiking Apparel Guide</h5>
                <p class="card-text">As the temperature drops and the days become shorter, many adventurous explorers set out for winter hiking. There are many reasons why people choose to hike during the winter. </p>
                <a href="/pages/underwear-layering-winter-hiking-apparel-guide" class="btn btn-primary btn-sm">Read More</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="card mb-3">
            <a href="/pages/underwear-guide-for-trans-women">
                <img class="card-img-top" data-src="" alt="" src="https://cdn.shopify.com/s/files/1/0104/3942/files/trans-underwear-guide.jpg" data-holder-rendered="true" style=" width: 100%; display: block;" width="600" height="338">
            </a>
            <div class="card-body">
                <h5 class="card-title">Underwear Guide for Trans Women</h5>
                <p class="card-text">Trying to find cute underwear as a trans woman can be a challenge, as most lingerie is designed for cis women. Getting fitted or trying on underwear in a boutique can take the guesswork out of it but also adds a lot of stress: </p>
                <a href="/pages/underwear-guide-for-trans-women" class="btn btn-primary btn-sm">Read More</a>
            </div>
        </div>
    </div>
</div>