<div class="row">
    <div class="col-12 padding-0">
        <header class="section__head">
            <img src="{{ 'header8.png' | asset_url }}" data-was-processed="true" width="1920" height="400" loading="lazy">
            <div class="section__head-inner">
                <div class="textwrap align-bottom">
                    <h1 class="section__title">{{ page.title }}</h1><!-- /.section__title -->
                </div>
            </div><!-- /.section__head-inner -->
        </header>
    </div>
</div>
<section class="features-area features-thirteen mb-5">
    <div class="section-title-four">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="content">
                        <div class="redbar">
                            <div class="headline">What are my Return Options</div>
                        </div>
                        <h3 class="gray-bg"> Returns</h3>
                        <p>
                            Not Happy with an item? Read about our return policy below.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="row justify-content-center page">
    <div class="col-12 col-md-10 mt-2 mb-2">
        <p>
            Unfortunately, due to the nature of the items, returns and exchanges on Underwear and Swimwear are not accepted at CheapUndies. This is non-negotiable. I mean, think about it... Would you trust underwear worn by some total stranger (aside from those of you with very specific kinks, anyway)?</p>
        <p>Most of our jackets, pants, shoes, shirts, etc. are returnable within 30 days of purchase! These returns can be made for either store credit or a refund! See individual item descriptions for return eligibility.</p>
        <p>To avoid dissatisfaction or the need to return any items, please be sure to check out the CheapUndies item descriptions and available Sizing Charts for details! Individual brands may fit differently, so we recommend always consulting them before placing your final order! Returns within 30 days will only be accepted for items returned unopened and still in their factory sealed packaging (packaging, bags, and tags must be intact).</p>
        <p>If you receive an item and it is damaged (i.e. A pair of underwear is torn), or if you receive the wrong item and it has not yet been worn, you may return the item within 30 days for a refund, store credit, or a replacement item.
        </p>
        <p>Before returning any items, you must first obtain a return authorization from CheapUndies. If we receive a returned item without a return authorization it will not be accepted.</p>
        <p>
            If for some reason you are unhappy with your purchase and the item is non-returnable, here are a few alternative options:<br />
            - List it on Craigslist<br />
            - List it on EBay<br />
            - Give it as a gift<br />
            - Use it as a dish rag<br />
            - Use as fuel for your fireplace
            <br />
            - Cut up and repurpose for arts and crafts<br />
        </p>
    </div>
</div>