  
<div class="row justify-content-center">
<div class="col-12 col-md-11 mb-0 mt-3">
<header class="page-header mb-3">
 <h1>{{ page.title }}</h1>
<small class="text-muted"><em>{{ page.metafields.global.sub_title }}</em></small>
</header>
</div>
<div class="col-12 col-md-11 mt-3 mb-0">
<p>You think you’ve seen it all, but you ain’t seen nothing yet: Equal part risky and frisky, the following clip stars Big Brother Season 20 star JC Mounduix in a scantily-clad tribute to the classic ‘80s comedy Risky Business. Watch Mounduix quite literally sing our praises (with our apologies to Bob Seger), getting right to the bottom of what makes our <a href="/collections/cheapundies-exclusives" title="link to underwear from video">brand underwear</a> so unique and unusual. HIT it, JC! 
</p>
</div>
    <div class="col-12 col-md-11 mt-1 mb-3 mx-auto">
            <div class="embed-responsive embed-responsive-16by9">
              <!-- Add this code to Video page: -->
     <div itemprop="video" itemscope itemtype="http://schema.org/VideoObject">
     	<meta itemprop="description" content="You think you’ve seen it all, but you ain’t seen nothing yet: Equal part risky and frisky, Big Brother Season 20 star JC Mounduix quite literally sings our praises in the following clip, getting right to the bottom of what makes our brand so very unique and unusual.HITit, JC!">
        <meta itemprop="thumbnailURL" content="http://cheapundies-videos.s3.amazonaws.com/risky-cover.jpg">
        <meta itemprop="duration" content="1:00">
		<meta itemprop="embedURL" content="https://www.youtube.com/embed/3OIUt1cOZbY?rel=0&modestbranding=1&autohide=1&showinfo=0&controls=0">
		<link itemprop="url" href="https://www.cheapundies.com/pages/frisky-business" rel="author"/>
        <a itemprop="url" href="https://www.cheapundies.com/pages/frisky-business"><span itemprop="name" style="display:block;"><strong>Frisky Business</strong></span></a>
        <iframe  class="embed-responsive-item" src="https://www.youtube.com/embed/3OIUt1cOZbY?rel=0&modestbranding=1&autohide=1&controls=0&showinfo=0"></iframe>
	</div>
            </div>
    </div>
    
   
    



<div class="mx-auto">
    <div class="col-12 mt-1 mb-3">
<div class="addthis_inline_share_toolbox_lpnn"></div>
  <script src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4f85964f6c72421c" defer></script>
 </div></div>



    <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2&appId=1454381034869481&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
    <div class="col-12 col-md-11 mt-1 mb-3">
  

<div class="fb-comments" data-href="https://www.cheapundies.com/pages/risky-business" data-width="100%" data-numposts="10"></div>

 </div> 

</div>

{%- section 'newsletter' -%}
  <div class="row justify-content-center mt-4  p-md-4 mainprod">
       <div class="col-12">
            <div class="gallerytitle">SHAREABLE GIFS</div>
          <p>Easy Share just click the share button. </p>
            </div>
<div class="col-md-12 mb-3">
 <div class="row">
<div class="col-12 col-md-6 mt-3 mb-3">
      <img class="gallerys img-fluid"  src="https://cheapundies-videos.s3.amazonaws.com/Risk1.gif" data-bs-toggle="lightbox" data-remote="https://cheapundies-videos.s3.amazonaws.com/Risk1.gif" data-gallery="example-gallery-11" data-type="image" width="600" height="600">
<div class="d-none d-md-table-cell">
<p class="mb-0 mt-2">Easy embed: Copy and Paste the Code Below</p>
<textarea rows="3" cols="59"><img src="https://cheapundies-videos.s3.amazonaws.com/Risk1.gif" width="600" height="600"><p>Video By <a href="https://www.cheapundies.com">CheapUndies</a></p>
</textarea>
</div>
 </div>
    <div class="col-12 col-md-6 mt-3 mb-3">
 <img class="img-fluid" src="https://cheapundies-videos.s3.amazonaws.com/Risk2.gif" data-bs-toggle="lightbox" data-remote="https://cheapundies-videos.s3.amazonaws.com/Risk2.gif" data-gallery="example-gallery-11" data-type="image" width="600" height="600" >
<div class="d-none d-md-table-cell">
 <p class="mb-0 mt-2">Easy embed: Copy and Paste the Code Below</p>
<textarea rows="3" cols="59"><img src="https://cheapundies-videos.s3.amazonaws.com/Risk2.gif" width="600" height="600"><p>Video By <a href="https://www.cheapundies.com">CheapUndies</a></p>
</textarea>
</div>
</div>
<div class="col-12 col-md-6 mt-3 mb-3">
  <img src="https://cheapundies-videos.s3.amazonaws.com/Risk3.gif" data-bs-toggle="lightbox" data-remote="https://cheapundies-videos.s3.amazonaws.com/Risk3.gif" data-gallery="example-gallery-11" data-type="image" class=" img-fluid" width="600" height="600">
<div class="d-none d-md-table-cell">
  <p class="mb-0 mt-2">Easy embed: Copy and Paste the Code Below</p>
<textarea rows="3" cols="59"><img src="https://cheapundies-videos.s3.amazonaws.com/Risk3.gif" width="600" height="600"><p>Video By <a href="https://www.cheapundies.com">CheapUndies</a></p>
</textarea></div>
  </div>
  <div class="col-12 col-md-6 mt-3 mb-3">
   <img src="https://cheapundies-videos.s3.amazonaws.com/Risk4.gif" data-bs-toggle="lightbox" data-remote="https://cheapundies-videos.s3.amazonaws.com/Risk4.gif" data-gallery="example-gallery-11" data-type="image" class=" img-fluid" width="600" height="600">
<div class="d-none d-md-table-cell">
   <p class="mb-0 mt-2">Easy embed: Copy and Paste the Code Below</p>
<textarea rows="3" cols="59"><img src="https://cheapundies-videos.s3.amazonaws.com/Risk4.gif" width="600" height="600"><p>Video By <a href="https://www.cheapundies.com">CheapUndies</a></p>
</textarea></div>
  </div>
  <div class="col-12 col-md-6 mt-3 mb-3">
    <img src="https://cheapundies-videos.s3.amazonaws.com/Risk5.gif" data-bs-toggle="lightbox" data-remote="https://cheapundies-videos.s3.amazonaws.com/Risk5.gif" data-gallery="example-gallery-11" data-type="image" class=" img-fluid" width="600" height="600">
<div class="d-none d-md-table-cell">    <p class="mb-0 mt-2">Easy embed: Copy and Paste the Code Below</p>
<textarea rows="3" cols="59"><img src="https://cheapundies-videos.s3.amazonaws.com/Risk5.gif" width="600" height="600"><p>Video By <a href="https://www.cheapundies.com">CheapUndies</a></p>
</textarea></div>
 </div>
 <div class="col-12 col-md-6 mt-3 mb-3">
   <img src="https://cheapundies-videos.s3.amazonaws.com/Risk6.gif" data-bs-toggle="lightbox" data-remote="https://cheapundies-videos.s3.amazonaws.com/Risk6.gif" data-gallery="example-gallery-11" data-type="image" class=" img-fluid" width="600" height="600">
   <div class="d-none d-md-table-cell">  <p class="mb-0 mt-2">Easy embed: Copy and Paste the Code Below</p>
<textarea rows="3" cols="59"><img src="https://cheapundies-videos.s3.amazonaws.com/Risk6.gif" width="600" height="600"><p>Video By <a href="https://www.cheapundies.com">CheapUndies</a></p>
</textarea></div>
</div>

                                              
                                             
                                            </div>
                                            
                                        </div>           
                                    </div>
    