<div class="row justify-content-center">
    <div class="col-12 col-md-11 mx-auto mb-5 mt-3 text-justify">
        <header class="page-header mb-3">
            {{ page.title }}
        </header>
        <div id="Jobs">
            <dl class="row justify-content-center">
                <dd class="col-12 text-justify">
                    <div class="h7 mb-2 mt-3 ">Experienced PHP / Laravel Developer <span class="badge badge-pill badge-danger">In-House</span> <span class="badge badge-pill badge-success">Salary 80K</span></div>
                    We are currently seeking a full-time developer that specializes in modern PHP and Laravel who can build robust, maintainable web applications. You will play a major role in developing, deploying and supporting our cloud-based applications.
                    <p class="font-weight-bold mb-0 mt-3">Experience Requirements:</p>
                    <ul>
                        <li> Laravel 5+ / PHP</li>
                        <li>HTML, CSS, JavaScript and jQuery</li>
                        <li>Ability to build and consume RESTful web services.</li>
                        <li>Competent with revision control systems (Git)</li>
                        <li>3rd Party API Services like Shopify, UPS, FedEx</li>
                    </ul>
                    <p class="font-weight-bold mb-0 mt-2">Compensation:</p>
                    <ul>
                        <li>$80K</li>
                    </ul>
                    <p class="font-weight-bold mb-0 mt-2">Benefits:</p>
                    <ul>
                        <li> Health, Dental, Vision Insurance</li>
                        <li>PTO, Vacation Time</li>
                    </ul>
                    <p class="font-weight-bold mb-0 mt-2">How to Apply:</p>
                    <ul>
                        <li> Send us your resume along with your GitHub code samples to us at jobs@cheapundies.com</li>
                    </ul>
                </dd>
                <div class="col-12">
                    <hr>
                </div>
                <dd class="col-12">
                    <div class="h7 mb-2 mt-3">Warehouse Shipping Associate <span class="badge badge-pill badge-success">$12/HR</span></div>
                    <p class="text-justify">Job Role: The final touches before a customer receives their products, the packing team is responsible for ensuring the quality of each and every shipment as well as packing the items correctly. The packing team works together with picking to guarantee that shipments are fulfilled perfectly and owns all responsibility around those shipments.</p>
                    <p class="font-weight-bold mb-0 mt-2">Experience/Skills Required:</p>
                    <ul>
                        <li>Able to work scheduled shifts including overtime, nights and/or weekends based on business needs and consistently arrive for work on time</li>
                        <li>Ability to lift 15lbs without any health limitations</li>
                        <li>Able to stand and walk continuously during and up to a 8-10hr shift</li>
                        <li>Able to bend, stoop, reach above, and push/pull frequently</li>
                        <li>May be required to help out in other departments as needed</li>
                        <li>You’re willing to get your hands dirty to get a task completed</li>
                        <li>You have the ability to adapt to change quickly</li>
                        <li>You are extremely detailed oriented</li>
                        <li>Ability to quickly understand new processes and identify operational opportunities</li>
                        <li>You’re looking to get your foot in the door with a rapidly growing start-up company</li>
                        <li>Previous warehouse experience is a plus, but not required</li>
                        <li>Must be 18 or older</li>
                    </ul>
                    <p class="font-weight-bold mb-0 mt-2">Compensation:</p>
                    <ul>
                        <li>Starting at $12.00/hr</li>
                    </ul>
                    <p class="font-weight-bold mb-0 mt-2">Benefits:</p>
                    <ul>
                        <li> Health, Dental, Vision Insurance</li>
                    </ul>
                    <p class="font-weight-bold mb-0 mt-2">How to Apply:</p>
                    <ul>
                        <li> Send us your resume to jobs@cheapundies.com</li>
                    </ul>
                </dd>
                <div class="col-12">
                    <hr>
                </div>
                <dd class="col-12">
                    <div class="h7 mb-2 mt-3">Social Blogger <span class="badge badge-pill badge-danger">In-House / Remote</span></div>
                    <p class="text-justify">Do you love creative writing? Do you enjoy staying up to date on current events happening on social media? Do you have a fun, energetic and original voice you think would fit a brand as unique as CheapUndies? We are currently seeking a content writer to create entertaining articles inspired by underwear and events in social media today! </p>
                </dd>
                <div class="col-12">
                    <hr>
                </div>
                <dd class="col-12">
                    <div class="h7 mb-2 mt-3">Fashion Design <span class="badge badge-pill badge-danger">In-House / Remote</span></div>
                    <p class="text-justify"> Passionate about fashion? Want to work in a unique design field creating new products lines and styles that will be worn & enjoyed by the masses? CheapUndies is looking for talented, driven individuals with contemporary and innovative style to join our design team. Applicants must have a background in fashion design and be able to create patterns, sew samples & perform fittings amongst other duties.</p>
                    <hr>
                </dd>
            </dl>
            <p class="text-justify">Are interested in applying and think you would be a great fit for our unconventionally awesome team? Please send your credentials, up-to-date resume & contact details to: jobs@cheapundies.com
                Be sure to specify which position you are applying for in the heading of your e-mail! Thank you!</p>
        </div>
    </div>
</div>