<div class="row justify-content-center">
    <div class="col-12 col-md-11 mx-auto mt-3 article">
       
  
        <div class="fancy-title mt-5">
            <h1>{{ page.title }}</h1>
        </div>
<div class="clearfix mb-5">
      
        </div>
        <div class="row justify-content-center ">
            <div class="col-12 col-md-5 mx-auto ">
                <img alt="" class="img-fluid" src="//cdn.shopify.com/s/files/1/0104/3942/files/trans-underwear-guide.jpg?v=1543350490" style="margin-top: 10px; margin-right: 10px; margin-bottom: 10px; float: left;"/>
            </div>
            <div class="col-12 col-md-7 mx-auto article-img">
                Trying to find cute underwear as a trans woman can be a challenge, as most lingerie is designed for cis women. Getting fitted or trying on underwear in a boutique can take the guesswork out of it but also adds a lot of stress: You never know whether your fitter will be trans-friendly. Shopping online eliminates that stress but adds a whole new layer of complexity, as you can't be sure how things will fit or look on your body until you've already purchased them, and returns can be a hassle. One option is to not buy anything too expensive, then resign yourself to giving things away if you don't like how they look. But that doesn't have to be the only choice: With a bit of research, finding cute underwear that makes you feel fabulously feminine doesn't have to be impossible.
            </div>
        </div>
        <div class="fancy-title title-dotted-border topmargin-sm mb-5 mt-5 title-center">
            <span class="text-uppercase h4">Bras</span>
        </div>
        <h3 class="page-header">Sport Bras</h3>
        <p>Sports bras can look super-feminine and cute. They are especially good for trans women who are not yet on hormones or have just started them, since a larger band size and smaller cup are easier to find in a sports bra. A sports bra will give a little compression, which isn't ideal, but this style will look natural and feminine on any type of chest. They're easy to find with some shirring at the front, which gives them a girly shape even on a flatter chest. Find one with both shirring and lace for the ultimate feminine look and feel.
        </p>
        <h3 class="page-header">Bralettes</h3>
        <p>Bralettes come in S/M and L/XL sizes, making them easy to fit. Unlike an underwire bra, which can be notoriously difficult to fit and will often gape at the top, bralettes are comfortable and don't present these problems. They're also very fashionable right now, which makes them easy to find. You can find bralettes with a multitude of decorative straps that are feminine and look cute peeking out from under your clothes.
        </p>
        <div class="fancy-title title-dotted-border topmargin-sm mb-5 mt-5 title-center">
            <span class="text-uppercase h4">Bottoms</span>
        </div>
        <p>Feminine underwear for trans women might be even more difficult to find than tops. Rather than going with the cheapest and tightest panties you can find, which can cause health problems, look for a natural fiber. Go for something with cotton and a good bit of spandex. Spandex is ultra-stretchy, so as little as 5% can be enough. A cotton/polyester/spandex blend can offer support while still lending breathability.
        </p>
        <h3 class="page-header">Boyshorts</h3>
        <p>Two things to look for in bottoms are coverage and compression. Boyshorts provide plenty of the former, and if you go with a higher spandex content, they will take care of keeping things in place as well. Boyshorts are basically boxers that have been "prettified" for women.</p>
        <h3 class="page-header">Bikinis and Hipsters</h3>
        <p>Bikinis and hipsters are tougher, especially for non-op trans feminine folks, but they are very girly and sometimes hard to resist. If you just have to have them, choose a style with a lot of lace detailing and a high waist for adequate coverage.</p>
        <h3 class="page-header">Padded Panties</h3>
        <p>If you've followed these tips and still find that your underwear fit awkwardly, try a padded panty. Trans women often lack the hip width of cis women, but a little padding can help give you a more girlish figure.</p>
        <p>For the budget-minded, you can make your own padding using cushion pads from a craft store. First, make a template by measuring the length and width of your body where you want the pad to sit. For hip pads, you'll want to make them shaped sort of like Africa. Then, cut out the cushion in the shape of your template and trim it to fit the curves of your body. Don't worry about removing every lump and bump: They'll be smoothed out by the shapewear or compression underwear you'll be wearing them with.
        </p>
        <div class="fancy-title title-dotted-border topmargin-sm mb-5 mt-5 title-center">
            <span class="text-uppercase h4">Resources for Trans Women</span>
        </div>
        <ul>
            <li class="mb-2">
                <a href="https://www.translifeline.org/hotline">Trans Lifeline Peer Support Hotline</a>: All calls are answered by trans people, and they encourage you to call any time you feel a need for support, not just if you're in crisis.</li>
            <li class="mb-2">
                <a href="https://www.tsroadmap.com/mental/accept.html">Self-Acceptance</a>: Accepting yourself is a key part of getting through transition and maintaining good mental health afterward.</li>
            <li class="mb-2">
                <a href="http://www.trans-health.com/2005/exercise-depression/">Out of the Prozac Bottle and Onto the Treadmill: Exercise and Depression</a>: Exercise can be good for your physical and mental health, and you don't have to go to the gym to do it.</li>
            <li class="mb-2">
                <a href="http://qmunity.ca/wp-content/uploads/2015/03/Trans_folk_relationship_safety_website_version.pdf">Safety in Relationships for Trans Folk</a>: Transgender women can be particularly vulnerable to relationship abuse.</li>
            <li class="mb-2">
                <a href="https://www.susans.org/wiki/index.php/Clothing_Sizes">How to Find the Right Women's Clothing Sizes</a>: Figuring out what to wear can be challenging if you don't have much experience with the sizing and proportions of women's clothing.</li>
            <li class="mb-2">
                <a href="https://jimcollinsfoundation.org/about-us/">The Jim Collins Foundation</a>: Need help affording your surgical transition? This foundation may be able to help.</li>
            <li class="mb-2">
                <a href="https://pointofpride.org/5-self-care-tips-to-start-trying-today/">Five Self-Care Tips to Start Trying Today</a>: Especially for those in marginalized groups, it's important to take care of your mental health, and that can go far beyond just taking a bath or lighting aromatherapy candles.</li>
            <li class="mb-5">
                <a href="http://www.genderpsychology.org/transgender/makeup.html">Makeup for a Natural Look</a>: This complete primer on makeup contains tips on what to buy, how to find the correct shades, and how to apply makeup as a trans woman.</li>
        </ul>
    </div>
</div>