  


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
       
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      
      <div class="modal-body sharebk align-items-center">
   
<div class="col-12 col-md-7 sharebx my-auto ">

<div class="p-3 p-md-4 ml-md-5 bg-light text-dark rounded my-auto align-middle">
<h1 class="text-center mb-4 mt-5">Get Free Undies for Sharing!</h1>
<h3 class="text-center mb-5 pl-5 pr-5">Give your friends 10% off and you get a Free Pair of Undies
 when they make their first purchase.</h3>




</div>










</div>





      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      
      </div>
    </div>
  </div>
</div>

