<style>
</style>
<div class="row">
    <div class="col-12 padding-0">
        <header class="section__head">
            <img src="{{ 'header5.png' | asset_url }}" data-was-processed="true">
            <div class="section__head-inner">
                <div class="textwrap align-bottom">
                    <h1 class="section__title">{{ page.title }}</h1><!-- /.section__title -->
                </div>
            </div><!-- /.section__head-inner -->
        </header>
    </div>
</div>
<!--======  Start Section Title Seven ======-->
<!-- <div class="section-title-seven page-margin">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8">
            <div class="section-title align-center">
                <span> How We Offer Such Great Deals</span>
                <h2 class="fw-bold text-uppercase"><i class="lni lni-parachute-parcel"></i> {{ page.title }}</h2>
            </div>
        </div>
    </div>
</div>
 -->
<!-- Start Features Area -->
<section class="features-area features-thirteen mb-5">
    <div class="section-title-four">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="content">
                        <div class="redbar">
                            <div class="headline"> How We Offer Such Great Deals </div>
                        </div>
                        <h3 class="gray-bg"> Our Deal</h3>
                        <!--    <p>
        We're bringing you the best daily deals on men's and women underwear so join thousands of savvy shoppers who have already let us cover their butts for less.
                  </p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="row justify-content-center page">
    <div class="col-12 col-md-10 mb-2">
        <div class="row mb-5">
            <div class="col-12 col-md-6 mb-3 mb-md-0">
                <img src="{{ "bumgear1.jpg" | asset_url }}" class="img-fluid rounded box-shadow shadow-sm">
            </div>
           <div class="col-12 col-md-6">
                <p>
                    CheapUndies is a site that is run by a team of geniuses that love getting a great deal. Our goal is to annoy and haggle every underwear and lingerie brand out there so we can get large quantity of merchandise for crazy
                    <span class="s1">cheap</span>. We use the following negotiation tactics...
                </p>
                <ul class="mb-5 list-unstyled">
                    <li><i class="lni lni-checkmark me-2"></i> Killing them with kindness</li>
                    <li><i class="lni lni-checkmark me-2"></i> Sending them gifts and love notes</li>
                    <li><i class="lni lni-checkmark me-2"></i> Threatening them</li>
                    <li><i class="lni lni-checkmark me-2"></i> Calling their families</li>
                    <li><i class="lni lni-checkmark me-2"></i> Becoming friends with their spouse</li>
                </ul>
            </div>
        </div>
        <p>
            After we have bugged, begged and pleaded with the brand we then buy large quantities of merchandise from them and extend the ridiculously low price to you. This is how Cheap Undies operates and keeps its loyal followers happy. No one should need to pay $50 for a bra or $25 for a pair of boxer or briefs. Buying all of your undergarments from Cheap Undies will keep you looking and smelling fresh and save you a ton of money. You now can use the money you saved on underwear to buy brand named condiments, play bingo or maybe just buy a larger dresser for all of your underwear. Cheap Undies prides itself on its pricing and brand named products and can guarantee that no one can beat our deals. Cheap Undies features one women's and one men's deal a day so be sure you buy fast because once the items sold out they will never be back.</p>
        <p>
            So thats the deal on us and what we are about. We appreciate you and your business so please feel free to ask questions, send us emails or stalk our attention seeking team.</p>
    </div>
</div>